@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .customersContent {
    @apply w-full flex flex-col bg-lightGrey-300;
  }
  .customersContent > h3 {
    @apply w-full pt-14 px-6 text-H4 text-darkGrey-900 font-bold lg:text-center lg:py-20 lg:text-H3;
  }
  .testimonialsContainer {
    @apply flex w-screen lg:items-center;
  }
  .testimonialSwiper {
    @apply hidden lg:block;
  }
  .swiperSlideContainer {
    @apply flex justify-center;
  }

  /* -----------------------SwiperMobile-------------------- */
  .testimonialSwiperMobile {
    @apply lg:hidden;
  }

  .swiperMobileContent {
    @apply w-80 h-29rem rounded-[2rem] bg-lightGrey-100 my-4;
  }
  .swiperMobileContainer {
    @apply p-6;
  }
  .swiperText {
    @apply text-darkGrey-700 text-Body2;
  }
  .swiperClientInfo {
    @apply flex py-6 items-center;
  }
  .swiperClientImgR {
    @apply relative overflow-hidden w-12 h-12 rounded-full bg-blue-300;
  }
  .swiperClientImgA {
    @apply absolute w-full h-full top-0 left-0;
  }
  .swiperClientName {
    @apply text-sm pl-4 text-darkGrey-700 font-bold font-IBM;
  }
  .swiperBrandR {
    @apply relative w-24 h-10;
  }
  .swiperBrandA {
    @apply absolute w-full h-full top-0 left-0;
  }

  /* -----------------------SwiperDesktop-------------------- */

  .testimonialSwiper {
    @apply hidden lg:block;
  }

  .swiperDesktopContent {
    @apply w-full rounded-3xl;
  }
  .swiperDesktopCard {
    @apply w-[55rem] h-[25rem] rounded-3xl border-2 bg-lightGrey-100;
  }
  .sdImg {
    @apply relative w-4/5 h-full overflow-hidden rounded-l-3xl;
  }
  .sdImgA {
    @apply absolute w-full h-full top-0 left-0;
  }
  /* -----------------------Brands-------------------- */

  .brandsImgR {
    @apply relative w-36 h-14;
  }
  .brandsImgA {
    @apply absolute w-full h-full top-0 left-0;
  }
}

/*------------------------------- swiper Styles  -------------------------------*/

.testimonialSwiper .swiper-button-prev {
  left: 48px;
  width: 72px;
  height: 72px;
  background-image: url("../../assets/Icon/arrowLeft.png");
}
.testimonialSwiper .swiper-button-next {
  right: 48px;
  width: 72px;
  height: 72px;
  background-image: url("../../assets/Icon/arrowRight.png");
}

.testimonialSwiper .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: " ";
}

.testimonialSwiper .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: " ";
}

/* .swiper-slide-visible.swiper-slide-prev,
.swiper-slide-visible.swiper-slide-next {
  opacity: 0.5 !important;
} */

.testimonialSwiper
  .swiper-slide
  .swiper-slide-duplicate
  .swiper-slide-visible
  .swiper-slide-prev {
  opacity: 0.5;
}
