@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbarContainer {
    @apply flex fixed w-full bg-lightGrey-100 h-14 z-50
    lg:h-20;
  }
  .navbarDivContainer {
    @apply flex w-full justify-between mx-6 
    lg:mx-20;
  }
  .navbarLogo {
    @apply flex h-full items-center;
  }
  .navbarLinks {
    @apply flex h-full items-center w-3/5;
  }
  .navbarButtons {
    @apply flex justify-evenly h-full w-1/4 items-center;
  }

  /*------------------------------- NavLinks -------------------------------*/

  .navLinksContainer {
    @apply flex flex-col justify-between h-[calc(100%_-_3.5rem)] mx-6 text-H5 font-IBM font-Bold text-darkGrey-900 
    lg:h-auto lg:w-full lg:text-darkGrey-300 lg:text-base lg:mx-0 lg:font-Regular lg:text-Subtitle;
  }
  .contentUl {
    @apply flex flex-col 
    lg:flex-row lg:justify-evenly;
  }
  .navLinksActive {
    @apply active:font-Bold focus:font-Bold active:text-darkGrey-900 focus:text-darkGrey-900;
  }

  /*------------------------------- Mobile styles  -------------------------------*/

  .navLinksActiveMobile {
    @apply border-b-2 border-dotted border-lightGrey-900 py-6 
    lg:mb-0 lg:border-none;
  }
  .mobileNavContainer {
    @apply flex h-full items-center;
  }
  .mobileNav {
    @apply absolute top-14 left-0 bg-lightGrey-100 h-screen w-screen;
  }
  .countriesButton {
    @apply flex justify-center items-center rounded-full w-10 h-10;
  }

  /*------------------------------- Mobile services panel   -------------------------------*/

  .servicesPanelMobileContent {
    @apply absolute top-0 left-0 bg-lightGrey-100 h-screen w-screen 
    lg:hidden;
  }
  .servicesPanelMobileContainer {
    @apply px-10 pt-8;
  }
  .servicesPanelMobileButton {
    @apply flex pb-8;
  }
  .iconArrow {
    @apply w-8 h-8 text-primary-500;
  }
  .servicesReturn {
    @apply text-base font-IBM font-bold text-darkGrey-900;
  }
  .companyContent {
    @apply border-y-4 border-dotted;
  }
  .companyContainer {
    @apply py-10;
  }
  .titleSection {
    @apply text-base font-IBM font-bold text-darkGrey-900;
  }
  .companyLink {
    @apply block text-base font-Sora font-Regular text-darkGrey-300 pt-10;
  }
  .homeContainer {
    @apply pt-10;
  }

  /*------------------------------- Services panel  -------------------------------*/

  .servicesPanelContent {
    @apply flex w-full h-17rem rounded-2xl bg-lightGrey-100 overflow-hidden;
  }
  .servicesPanelLeft {
    @apply flex flex-col h-full w-2/5 bg-lightGrey-300;
  }
  .menuLeft {
    @apply flex justify-between items-center p-6 cursor-pointer uppercase;
  }
  .viewConditionalContent {
    @apply h-full w-full;
  }
  .viewConditionalContainer {
    @apply flex flex-col h-full w-full justify-center items-center px-8;
  }
  .viewConditionalContainer > p {
    @apply text-center text-darkGrey-900 text-Body2 font-IBM;
  }
  .viewConditionalButton {
    @apply flex items-center justify-between w-32 border-b-2 border-primary-500 pt-6;
  }
  .viewConditionalButtonText {
    @apply font-Sora font-semibold text-base text-darkGrey-900;
  }
  .hiddenConditional {
    @apply h-full w-full bg-lightGrey-100;
  }
  .hiddenConditionalIcon {
    @apply flex items-center justify-center w-14 h-14 rounded-lg text-primary-900 bg-lightGrey-300 text-[2rem];
  }
  .hiddenConditionalText > h2 {
    @apply text-darkGrey-900 text-sm font-semibold font-IBM;
  }
  .hiddenConditionalText > p {
    @apply text-darkGrey-900/70 text-xs font-semibold font-IBM;
  }
}
